<mat-card class="content-container" fxLayoutAlign="center" fxLayout="column" fxFlex="40" fxFlexOffset="30">

    <mat-card-header>
    <h1 mat-card-title>Register</h1>
    </mat-card-header>
    <div mat-card-content id="content">
        <form [formGroup]="form" fxLayout="column" (ngSubmit)="register()">
            <mat-form-field>
                <mat-label for="email">E-mail address</mat-label>
                <input matInput type="email" formControlName="email" placeholder="Enter e-mail address" required>
                <mat-error>
                     {{ getErrorEmail() }}
                </mat-error>
            </mat-form-field>
                <i>We'll never share your e-mail with anyone else.</i>
            <mat-form-field>
                <mat-label for="password">Password</mat-label>
                <input matInput type="password" formControlName="password" placeholder="Enter password" required>
                <mat-error *ngIf="form.controls['password'].invalid && form.controls['password'].touched">
                     {{ getErrorPassword() }}
                </mat-error>
            </mat-form-field>
            <br>
            <button mat-raised-button type="submit" class="form__submit" [disabled]="form.invalid">Register</button>
        </form>
    </div>
</mat-card>



                
