<table mat-table [dataSource]="workouts" class="mat-elevation-z8" fxFlex fxFlexFill>
  <ng-container matColumnDef="num">
    <mat-header-cell *matHeaderCellDef>No.</mat-header-cell>
    <mat-cell *matCellDef="let workout">{{workout._id}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
    <mat-cell *matCellDef="let workout">{{workout.name}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
    <mat-cell *matCellDef="let workout">{{workout.description}}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" class="workout-row" matRipple [routerLink]="row._id"></mat-row>
</table>
<button mat-fab class="add-button" (click)="addWorkout()">
  <mat-icon>add</mat-icon>
</button>
